<?xml version="1.0"?>
<launch>
  <arg name="model" default="$(find lama_test)/world/stage-270.world" />
  <arg name="use_costmap_2d" default="true" />
  <arg name="debug" default="false" />

  <param name="use_sim_time" value="true" />

  <node name="stage" pkg="stage_ros" type="stageros"
    args="$(arg model)" />

  <group if="$(arg use_costmap_2d)">
    <node name="rviz" pkg="rviz" type="rviz"
      args="-d $(find lama_test)/world/nj_costmap-costmap_2d.rviz">
    </node>

    <node name="costmap" pkg="costmap_2d" type="costmap_2d_node"
      output="screen">
      <rosparam file="$(find lama_test)/params/nj_costmap-costmap_2d.yaml" command="load" />
    </node>

    <!--
    <node name="nj_costmap" pkg="nj_costmap" type="nj_costmap"
      output="screen">
      <remap from="local_costmap" to="/costmap/costmap/costmap" />
    </node>
    -->
  </group>

  <group unless="$(arg use_costmap_2d)">
    <node name="rviz" pkg="rviz" type="rviz"
      args="-d $(find lama_test)/world/nj_costmap-gmapping.rviz">
    </node>

    <node name="costmap" pkg="gmapping" type="slam_gmapping"
      output="screen">
      <remap from="scan" to="/base_scan" />
      <rosparam file="$(find lama_test)/params/nj_costmap-gmapping.yaml" command="load" />
    </node>

    <node name="nj_costmap" pkg="nj_costmap" type="nj_costmap"
      output="screen">
      <remap from="local_costmap" to="/costmap/map" />
    </node>
  </group>

  <node name="teleop" pkg="teleop_twist_keyboard"
    type="teleop_twist_keyboard.py"
    output="log"
    args="base_controller/command:=cmd_vel" />

  <group if="$(arg debug)">
    <node name="rqt_graph" pkg="rqt_graph" type="rqt_graph" />
  </group>
</launch>
