<?xml version="1.0"?>
<launch>

  <param name="use_sim_time" value="true" />

  <param name="spacenav/full_scale" type="double" value="200" />

  <!-- <remap from="spacenav/twist" to="mybot/cmd_vel" /> -->
  <remap from="spacenav/twist" to="husky/cmd_vel" />
  <remap from="/anj_featurenav/camera/image_raw" to="/husky/camera1/image_raw" />
  <remap from="/anj_featurenav/odom" to="/odom" />

  <include file="$(find mybot_gazebo)/launch/mybot_world.launch" />

  <node name="map_node" pkg="lama_interfaces" type="map_node.py" output="screen" />

  <node name="anj_featurenav" pkg="anj_featurenav" type="anj_featurenav" output="screen">
    <param name="feature_detector/threshold" value="50" />
    <param name="descriptor_matcher/type" value="FlannBased" />
  </node>

  <node name="test_anj_featurenav" pkg="lama_test" type="test_anj_featurenav_learn.py" output="screen" >
  </node>

  <include file="$(find spacenav_node)/launch/classic.launch"  />

</launch>

