<launch>

	<arg name="model" default="$(find lama_test)/worlds/stage-270.world" />
	<arg name="stdr" default="false" />

	<!-- END OF THE CONFIGURATION PART -->

	<remap from="/costmap/scan" to="/base_scan" />
	<remap from="/jockey/cmd_vel" to="/cmd_vel" />
	<remap from="/jockey/local_map" to="/costmap/local_map" />

	<group if="$(arg stdr)" >
		<param name="/jockey/laser_frame" value="robot0_laser_0" />

		<remap from="/robot0/cmd_vel" to="/cmd_vel" />
		<remap from="/robot0/laser_0" to="/base_scan" />

		<include file="$(find stdr_launchers)/launch/server_with_map_and_gui_plus_robot.launch" />
	</group>

	<group unless="$(arg stdr)" >
		<param name="/jockey/laser_frame" value="base_laser_link" />

		<node name="stage" pkg="stage_ros" type="stageros"
				args="$(arg model)" />

		<node name="rviz" pkg="rviz" type="rviz"
				args="-d $(find lama_test)/worlds/test-nj_oa_costmap.rviz" 
				output="screen" />
	</group>

	<node name="map_node" pkg="lama_interfaces" type="map_node.py" />

	<node name="costmap" pkg="local_map" type="local_map" output="screen" >
	</node>

	<node name="jockey" pkg="nj_oa_costmap" type="nj_oa_costmap" output="screen" >
		<param name="robot_radius" value="0.45" />
		<param name="long_distance" value="1.5" />
		<param name="turnrate_collide" value="0.4" />
		<param name="max_vel" value="0.6" />
		<param name="vel_close_obstacle" value="0.2" />
		<param name="turnrate_factor" value="0.8" />
	</node>

	<node name="service_caller" pkg="lama_test" type="test_nj_oa.py"  output="screen" />
</launch>

