<launch>

	<arg name="model" default="$(find lama_test)/worlds/stage-360.world" />

	<!-- END OF THE CONFIGURATION PART -->

	<node name="stage" pkg="stage_ros" type="stageros"
			args="$(arg model)" />

	<node name="rviz" pkg="rviz" type="rviz"
			args="-d $(find lama_test)/worlds/dfs_explorer.rviz" />

	<node name="map_node" pkg="lama_interfaces" type="map_node.py" />

	<node name="jockey" pkg="nj_oa_laser" type="nj_oa_laser" output="screen">
		<param name="robot_radius" value="0.45" />
		<param name="long_distance" value="1.5" />
		<remap from="jockey/base_scan" to="/base_scan" />
		<remap from="jockey/cmd_vel" to="/cmd_vel" />
	</node>

	<node name="service_caller" pkg="lama_test" type="test_nj_oa.py"  output="screen" />

</launch>

